html::-webkit-scrollbar {
    display: none;
}
#navbartop {
    position: fixed;
    width: 100%;
    /* top: 30px; */
    left: 130px;
    z-index: 1;
}
img {
    vertical-align: middle;
    border-style: none; 
    width: 90px;
    height: 90px;
}
#qrcode {
    padding-left: 40px;
}

#contents {
    margin-top:50px;
}
.btn {
    color:rgb(255, 255, 255);
    border-radius: 0px !important;
}
#btnSend {
    border-color:#818181;
}
#qrcode {
    top: 12%;
    left: 40px;
    height: 30vh;
    width: 30vh;
    display: inline-block;
}
.avxlabel {
    font-size: 10px;
}
.wallet-bal-texts {
    padding-left: 10px;
    background-color:#000;
    font-size: 18px;
}
#sort-date {
    color: #000;
    width: 120px;
}

a {
    color:white;
}
a:hover {
    color:rgb(158, 34, 34);
}
li a {
    color:white;
    display: inline;
}
ul {
    list-style: none;
}
#tabs {
    display: inline-block;
    margin-top: 2.5%;
}
#tabs li a:hover {
    color: #c72d2d;
}
#tabs li + li:before {
    color: #818181;
    content: "   |   ";
    padding: 0 10px;
}

 li {
    float: left;
} 
#tbMerge {
    width: auto;
}
table {
    height: 400px;
    overflow-y: scroll;
    overflow: auto;
    width: auto;
    /* width: 100%; */
    display: block;
}
thead {
    background-color:rgb(49, 49, 49);
    position: relative;
}
th {
    padding: 30px;
}
tbody {
    background-color:white;
    color:#000;
}

tr {
    height: 10px !important;
}
td {
    font-size: 11px;
    height: 30px !important;
}
/* #Waddress {
    float: left;
    padding-left: 5px;
    font-size: 10px;
} */
#decimal-place {
    color: #000;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* #sidelinks {
    font-size:17px;
    color:white; 
    margin-bottom:8%;
} */