
#navbartop {
    position: fixed;
    width: 100%;
    left: 130px;
    z-index: 1;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 90px;
    height: 90px;
}
#qrcode {
    padding-left: 40px;
}

#contents {
    margin-top:50px;
}
.btn {
    color:rgb(255, 255, 255);
    border-radius: 0px !important;
}
#buttonn {
    border-color:#818181;
}
#qrcode {
    top: 12%;
    left: 40px;
    height: 30vh;
    width: 30vh;
    display: inline-block;
}
.avxlabel {
    font-size: 10px;
}
a {
    color:white;
}
a:hover {
    color:rgb(158, 34, 34);
}
#ddown-show {
    color: #000;
}
#ddown-resolution {
    color: #000;
}
ul {
    list-style: none;
}
#tabs {
    display: inline-block;
    margin-top: 2.5%;
}
#tabs li a:hover {
    color: #c72d2d;
}
#tabs li + li:before {
    color: #818181;
    content: "   |   ";
    padding: 0 10px;
}
li {
    float: left;
}
thead {
    background-color:rgb(49, 49, 49);
}
td {
    font-size: 11px;
}
/* table {
    display: block;
} */
tbody {
    background-color:white;
    color:#000;
    overflow-y: scroll;
    height: 100px;
    width: 100%;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#Waddress {
    float: left;
     padding-left: 5px;
     font-size: 10px;
}
#dropdownMenuButton {
    color: #000;
}
#tables {
    margin-right: 30%;
}
.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.table-fit {
    width: 1px;
}
#activeFiles {
    width: auto;
    margin-right: 2%;
}
#completedFiles {
    width: auto;
    margin-right: 2%;
}
a {
    cursor: pointer;
}
.header-links {
    font-size: 18px;
}
.download-details {
    font-size: 14px;
    width: 100%;
}
.section-divider {
    width:100%; 
    text-align:left; 
    border-bottom: 1px solid #818181; 
    line-height:0.1em; 
    margin:10px 0 20px; 
}
span#divider-text {
    background-color: #000;
    padding: 0 40px 0 0;
}
.content-details {
    font-size: 12px;
}
.action-col a {
    color: #000;
}

#col-graph {
    text-align: center;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}