*{
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI;
    }
html {
    margin: 0px;
    padding: 0px; 
    overflow-y: scroll;
    background-color: #000; 
}
body {
    margin-top:30px;
    background-color: #000;
} 
button {
    color: white;
    padding: 8px 10px;

    border: none;
    cursor: pointer;
    width: 100%;
}
#logoAVX {
    margin-top: -5px;
    width: 40rem;
    height: 15vh;
    display: block;
    margin-left: 25vw;
}
#titleShown {
    -webkit-app-region: drag;
}
#container > #main {
    position: relative;
}
#container {
    position: fixed;
    width: 100%;
    height: 30px;;
    display:block;
    top:0;
    left: 0;
    cursor:default;
    z-index: 1;
}
#container nav {
       display: block; 
       width:100%;
       height: 30px;
       background-color: #333333;
   }
#container nav #titleShown {
    width: 30%;
    height: 100%;
    line-height: 30px;
    color:#f7f7f7;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    padding: 0 0 0 1em;
   }
   #container nav #buttons {
       float: right;
       width: 150px;
       height: 100%;
       line-height: 30px;
       background-color: #222222;
   }
   
   #buttons #minimize, #buttons #maximize, #buttons #close {
    float: left;
    height: 100%;
    width:33%;
    text-align: center;
    color: #f7f7f7;
    cursor: default;
   }
#buttons #close:hover {
    background-color: #ed1c24;
}
.sidenav {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 2;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}
.sidenav::-webkit-scrollbar {
    display: none;
}
.sidenav a {
    padding: 10px 10px 25px 10px;
    text-decoration: none;
    color: #818181;
    display: block;
    text-align: center;
    font-size: 12px;
}
.sidenav a:hover {
    color: #f1f1f1;
}
#main {
    margin-left: 130px;
    background-color: #000;
    color:white;
    height: 100%;
    display:block;
}

#sidelinks {
    font-size: 28px;
    color:white; 
    margin-bottom: 3%;
}
#logox {
    /* top:-50px; */
    /* top: 50px; */
    width: 80px;
    height: 50px;
    margin-left: 25px;
    margin-top: -50%;
}
::-webkit-scrollbar-corner {
    display: none;
}
a {
    color: white;
}
a:hover {
    color: #ed1c24;
    text-decoration: none;
}
/* ::-webkit-scrollbar {
    display: none;
} */