
.sidenav a:hover {
    color: #f1f1f1;
}

#separators ul
{
    margin: 0;
    padding: 0;
}
a {
    color:white;
}
a:hover {
    color:rgb(207, 57, 57);
}
#tabs li + li:before {
    content: "  |  ";
    padding: 0 10px;
}
#sowl {
    margin-right: 80px;
}
#sowl a i {
    display: inline-block;
}
#movieplot {
    width: 65%;
    font-size: 13px;
}
#moviedirector, #moviegenre, #moviestudio {
    text-align: right;
}

#signoutwishlist {
    background-color:rgb(0, 0, 0);
    height: 100%;
    display: block;
}
tbody { 
    background-color:white;
    color: #000;
}
::-webkit-scrollbar { 
    display: none; 
  }
@media screen and (max-width:150px) {
    .grid-container > div {
        min-width: 30px;
    }
}
#bodycolumn {
    height: 80vh;
    padding-right: 3%; 
    font-size: 10px;
}
/* #bgvids {
    background-image: 
} */
ul.list-group:after {
    clear: both;
    display: block;
    content: "";
  }
  
  .list-group-item {
      float: left;
  }