
.sidenav a:hover {
    color: #f1f1f1;
}

#separators ul
{
    margin: 0;
    padding: 0;
}
a {
    color:white;
}
a:hover {
    color:rgb(207, 57, 57);
}
#tabs li + li:before {
    content: "  |  ";
    padding: 0 10px;
}
#sowl {
    margin-right: 80px;
}
#sowl a i {
    display: inline-block;
}
#movieplot {
    width: 65%;
    font-size: 13px;
}
#moviedirector, #moviegenre, #moviestudio {
    text-align: right;
}

/* #main {
    position: absolute;
    transition: margin-left .5s;
    left: 130px;
    padding: 10px;
    background-color: #000;
    height: 100%;
    color:white;
    width:auto;
    clear:both;
    overflow-y:scroll; 
    overflow-x: hidden;
} */

#signoutwishlist {
    background-color:rgb(0, 0, 0);
    height: 100%;
    display: block;
    /* margin: auto; */
    /* width:60%; */
}
/* #rButtons {
    margin: auto;
    width: 100%;
    
} */
tbody { 
    background-color:white;
    color: #000;
}
::-webkit-scrollbar { 
    display: none; 
  }

  @media screen and (max-width:150px) {
    .grid-container > div {
        min-width: 30px;
    }
}
