#navbartop {
    position: fixed;
    width: 100%;
    top: 30px;
    left: 130px;
    z-index: 1;
}
   #titleShown {
    -webkit-app-region: drag;
   }
   
   #container nav {
       display: block; 
       width:100%;
       height: 30px;
       background-color: #333333;
   }
   #container nav #titleShown {
       width: 30%;
       height: 100%;
       line-height: 30px;
       color:#f7f7f7;
       font-size: 1.2em;
       font-weight: bold;
       float: left;
       padding: 0 0 0 1em;
   }
   #container nav #buttons {
       float: right;
       width: 150px;
       height: 100%;
       line-height: 30px;
       background-color: #222222;
   }
   #buttons #minimize, #buttons #maximize, #buttons #close {
    float: left;
    height: 100%;
    width:33%;
    text-align: center;
    color: #f7f7f7;
    cursor: default;
   }
#buttons #close:hover {
    background-color: #ed1c24;
}
.sidenav {
    margin-top: 30px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 1.6vw;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
    top: 5%;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: absolute;
    transition: margin-left .5s;
    padding: 10px;
    background-color: #000;
    height: 100%;
    color:white;
    width:100%;
    clear:both;
    overflow-y:scroll; 
    /* overflow-x: hidden; */
}

::-webkit-scrollbar { 
    display: none; 
  }
